body {
    margin: 0;
    padding: 0;
    
}

/*Header*/

header {
    padding: 10px;
    background-color: #EDF4F5;
}

.headcontainer {
    width: 90%;
    padding: 2% 1%;
    display: inline-block;
}

.headcontainer h1 {
    display: inline-block;
    width: 30%;
    float: left;
}

nav {
    position: relative;
    top: 22.5px;
    float: right;
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding: 5px;
    
}

nav ul li a {
    text-decoration: none;
}